{# templates/index/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}

    <div class = "top">
        <div class ="profile">
            <img class="profil-img" src="{{ asset('images/logo-ministere.png') }}" alt="Profil" width="100" height="75">
            <img class="profil-img" src="{{ asset('images/logo_ciec.PNG') }}" alt="Profil" width="150" height="75">
        </div>
        <H1>Evaluation des Résultats des Indicateurs du soutien Commissariat</H1>

        <a href="{{ path('admin_home') }}" class="btn-custom">Accéder à l'administration</a>
        <a class="btn-custom">Se déconecter</a>
    </div>
    <div class="container_global">
        <div class="container_left">
            <ul class = table>
                <li><a href="{{ path('saisie-taux-ecole') }}" > taux école</a>
                <li><a href="{{ path('saisie-taux-hors-ecole') }}" > taux hors école</a>
                <li><a href="{{ path('saisie-opex-isole') }}" > taux OPEX isolé</a>
                <li><a href="{{ path('saisie-opex-unite') }}" > taux OPEX </a>
            </ul>
        </div>
        <div class="container_right_annonce">
            <H1> Actualités </H1>
            <div class="annonces-container">
                {% for annonce in annonces %}
                    <div class="annonce">
                        <h2>{{ annonce.titleannonce }}</h2>
                        <h3>{{ annonce.subtitleannonce }}</h3>
                        <h4>{{ annonce.textannonce|raw }}</h4>
                        <p>{{ annonce.dateannonce|date("d/m/Y") }}</p>
                    </div>
                {% else %}
                    <p>Aucune annonce disponible.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <label>Vous êtes connecté en tant que : {{ id_user }}</label>
{% endblock %}